{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:sonarjs/recommended",
    "eslint:recommended",
    "airbnb-base",
    "eslint-config-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["prettier", "sonarjs"],
  "rules": {
    "no-console": 1,
    "no-var": "error",
    "linebreak-style": 0,
    "prettier/prettier": "error"
    // "import/no-extraneous-dependencies": [
    //   "error",
    //   {
    //     "devDependencies": true
    //   }
    // ]
  }
}
